.field{
  width: 500px;
  padding-bottom: 20px;
}

.colour-border{
  border: 10px solid darkgreen;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(179, 221, 152);
}