.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid darkgreen;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: rgb(218, 190, 36);
}